= simple_form_for(@workout, html: { role: "form" }) do |f|
  = f.input :date,    label: "Date"
  = f.input :workout, label: "What body part(s) did you workout?"
  = f.input :mood,    label: "How was your mood during the workout"
  = f.input :length,  label: "How long did you workout?"
  %br
  = f.submit
  = link_to 'Cancel', root_path